/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    margin: 40px;
}

.mat-raised-button {
    margin-right: 10px !important;
}